{% extends 'content_base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <div class="container pt-2">
        <div class="row">
            <div class="row flex-row col-md-12 user-bg p-0">
                <div class="col-md-2 user-avatar">
                    <img class="avatar" src="{{ app.user.avatarUrl }}">
                </div>
                <div class="col-md-10 user-pad">
                    <h2>Welcome {{ app.user.firstName }}</h2>
                    <h5><span class="fab fa-facebook"></span></h5>
                    <a class="btn btn-primary btn-info" href="#">
                        <span class="fa fa-edit"></span>Update
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
