{% extends 'base.html.twig' %}

{% block title %} All articles {% endblock %}

{% block body %}
{# TODO: change presentation of articles #}
    <div class="container">
        <div class="row mx-auto flex-column">
            {% for article in articles %}
                <div class="col-md-8 article-container my-2">
                    <div class="col-3 p-0">
                        <img src="images/article/{{ article.imageFileName }}" class="articleImg">
                    </div>
                    <div class="col-7">
                        <a href="{{ path('article', {slug: article.slug}) }}">
                            <span>{{ article.title }}</span>
                        </a>
                    </div>
                    <div class="col-2">
                        <span>{{ article.publishedAt|ago }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}