{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
{# TODO: make visual changes #}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% for article in articles %}
                <div class="article-container my-3">
                    <div class="col-3 p-0">
                        <img src="/images/article/{{ article.imageFilename }}" class="articleImg">
                    </div>
                    <div class="col-7">
                        <a href="{{ path('article', {slug: article.slug}) }}">
                            <span>{{ article.title }}</span>
                        </a>
                    </div>
                    <div class="col-2 p-0">
                        <span>{{ article.publishedAt|ago }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}