{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container mar-top-10">
        <div class="row">
            <div class="col-md-6">

                {% for article in articles %}
                <div class="article-container my-3">
                    <a href="{{ path('article', {slug: article.slug}) }}" class="wid-100">
                        <img class="zdjecie" src="{{ article.imageFilename }}">
                        <div class="d-inline-block pl-3 align-middle">
                            <span>{{ article.title }}</span>
                        </div>
                    </a>
                    <span>{{ article.publishedAt|ago }}</span>
                </div>
                {% endfor %}



            </div>


            <div class="col-md-6">

            </div>
        </div>
    </div>



{% endblock %}