{% extends 'content_base.html.twig' %}

{% block title %} Admin panel {% endblock %}

{% block content_body %}
    <h1>Admin Panel</h1>
    <p><a href="{{ path('admin_article_list') }}">Article List</a></p>
    <p><a href="{{ path('admin_article_new') }}">Create Article</a></p>
    <p><a href="{{ path('admin_comment') }}">Manage Comments</a></p>
{% endblock %}